body {
  background-color: #51af5b;
  color: #333333;
}

h1 {
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
  color: #f9f9f9;
  text-align: center;
}

h3 {
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

p, ol, select, button, table {
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

blockquote {
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

pre {
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

table {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse
}

th, td {
  padding: 5px;
  text-align: center;
}

th {
  background-color: #b3e55e;
}

tr:nth-child(even) {
  background-color: #dddb6a;
}

#googleMap {
  height: 803px;
  width: 56%;
  margin-left: -8px;
  margin-top: -20px;
  float: left;
}

#section {
  width: 42%;
  display: inline-block;
}

#formAddContainer {
  margin-right: -41px;
  padding: 14px;
  display: inline-block;
  background-color: #b3e55e;
}

#bchContainer {
  padding: 83px;
  background-color: white;
  display: inline-block;
}

#formPendingContainers {
  margin-left: -8px;
  margin-top: -4px;
  margin-right: -8px;
  padding: 14px;
  background-color: #f7ffa3;
  text-align: center;
}

#footNote {
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  margin-left: -8px;
  margin-right: -8px;
  padding: 14px;
  font-size: x-small;
  text-align: center;
  color: white;
}